body,
html {
  height: 100%;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  line-height: 1.6;
  scroll-behavior: smooth;
}

.parallax {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bg-login {
  background-image: url(un1.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-1 {
  background-image: url(un1.avif);
}

.bg-2 {
  background-image: url(un2.avif);
}

.content {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 40px;
  border-radius: 10px;
  width: 60%;
}

.content h1 {
  font-size: 3rem;
  margin: 0;
}

.normal-section {
  padding: 80px 20px;
  background-color: white;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  font-size: 2rem;
  color: #35858E;
}

.btn-contact {
  padding: 12px 25px;
  background-color: #7DA78C;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}

footer {
  background-color: #7DA78C;
  text-align: center;
  padding: 20px 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10;
}

.contact-form input,
textarea {
  padding: 10px;
  border: 1px solid #35858E;
  border-radius: 5px;
}

.contact-form button {
  background: #35858E;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
}

/* Keahlian */
.wraper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  flex-wrap: wrap;
}

.skill-wraper {
  background-color: #7DA78C;
  color: black;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  width: 225px;
}

.skill-wraper h3 {
  margin-top: 0px;
  color: #35858E;
  text-align: center;
}

.skill-wraper ul {
  padding-left: 20px;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.gambar-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
}

nav a {
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  color: #35858E;
  transition: 0.3s;
}

nav a:hover {
  color: white;
}

.logo {
  color: whitesmoke;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

/* BURGER MENU START */
#menu {
  display: flex;
  gap: 15px;
}

.nav-container button {
  display: none;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.gallery img {
  width: 100%;
  border-radius: 10px;
  transition: 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
}

/* UKURAN TABLET */
@media (max-width: 768px) {
  .nav-container button {
    display: block;
  }

  #menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 200px;
    padding: 10px 0px;
  }

  #menu a {
    padding: 10px;
  }

  #menu.show {
    display: flex;
  }
}

/* BURGER MENU END */

/* UKURAN HP */
@media (max-width: 480px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}